@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Barrio&family=Comic+Neue:wght@300&family=Happy+Monkey&family=Limelight&family=Nova+Flat&family=Poppins:ital,wght@0,300;0,600;0,700;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&family=VT323&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #222;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
    font-size: 120%;
}

.card {
    background: #00000099;
    padding: 2em;
    color: aliceblue;
    border-radius: 20px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    width: 44px;
    height: 44px;
    outline: none;
    padding-top: 4.5px;
    background-color: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

button:hover {
    background: #7c7c7c6b;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
    transition: 0.2s ease-in-out;
}

input.search-bar:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.flex {
     display: flex;
     align-items: center;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: aliceblue;
    position: absolute;
    left: 21px;
    top: 0;
}
